/* 让 SharePoint 页面和本地工作台都全宽显示 */
#workbenchPageContent,
.CanvasComponent.LCS.CanvasZone {
  max-width: 100% !important;
}

/* 针对 localWorkbench 的附加样式覆盖 */
#workbenchContainer {
  max-width: 100% !important;
  padding: 0 !important;
}

/* 覆盖 localWorkbench 内容区域宽度限制 */
.SPPageChrome,
.Canvas {
  max-width: 100% !important;
}

.mainTitle {
  background: #99CCFF;
  padding: 5px;
  margin: 0;
  font-size: 20px;
  font-weight: 400;
}

.Requisition .noMargin {
  margin-top: 0;
}

.Requisition .ms-Viewport {
  margin-top: 0;
}
.Requisition .ms-DetailsHeader-cellTitle {
  height: 100%;
}
.Requisition .ms-DetailsHeader-cellName {
  text-overflow: unset;
  overflow: unset;
  width: 100%;
  white-space: wrap;
  line-height: 14px;
  display: flex;
  align-items: center;
}
/* .Requisition .detailList .ms-DetailsHeader {
  background-color: #99CCFF;
} */