nav {
    background-color: #d6d7d6;
    padding: 1rem;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
}
nav ul li:last-child a {
    border-right: 1px solid #515151;
}
nav ul li {
    margin: 0;
    height: 38px;
    display: flex;
    align-items: center;
    
}

nav ul li a {
    color: #515151;
    font-weight:bolder;
    text-decoration: none;
    padding: 0 1rem;
    display: flex;
    align-items: center;
    height: 30px;
    border-left: 1px solid #515151;
    transition: background-color 0.3s ease;
}

nav ul li a:hover {
    background-color: #515151;
    color: #d6d7d6;
}



#SuiteNavWrapper {
    display: none;
}

/* div[data-automation-id="contentScrollRegion"] {
    overflow: hidden;
} */
div[data-automation-id="contentScrollRegion"] {
    overflow: auto;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE 10+ */
}

div[data-automation-id="contentScrollRegion"]::-webkit-scrollbar {
    display: none; /* Chrome, Safari, and Opera */
}